@{
    ViewData["Title"] = "Cadastro Bem-Sucedido";
}

<div class="container mt-4">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success">@TempData["MensagemSucesso"]</div>
    }
    <p>O produto foi cadastrado corretamente no sistema.</p>

    <a href="@Url.Action("Cadastros", "Cadastros")" class="btn btn-primary">Voltar para o Cadastro</a>
</div>
